.banner{
    background-color: #efeff4;
    height: 108px;
    z-index: 11;
    width: 100%;
    padding-top: 15px;
}
.banner img{
    width: 288px;
    height: 90px;
    display: block;
    margin: 0 auto;
}
.filter{
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 54px;
    z-index: 11;
}
.filter.filter-fixed{
    position: fixed;
    left: 0;
    top: 0;
}
.filter-current{
    color: #333333;
    border-top: 2px solid #dcdcdc;
    border-bottom: 2px solid #dcdcdc;
    line-height: 50px;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
}
.filter-current b{
    position: absolute;
    left: 60%;
    display: inline-block;
    border: solid #333333;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    width: 6px;
    height: 6px;
}
.filter-current .arrow1{
    top: 22px;
}
.filter-current .arrow2{
    top: 17px;
}
.filter-drop{
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    z-index: 12;
    height: 160px;
}
.filter-drop li{
    cursor: pointer;
    height: 37px;
    line-height: 37px;
    padding-left: 12.6%;
    border-bottom: 1px solid #dcdcdc;
    color: #9a9a9a;
    font-size: 1.3rem;
}
.jobs{
    background-color: #efeff4;
    padding-top: 10px;
    overflow: hidden;
}
.job{
    background-color: #fff;
    padding: 13px 0 15px 4.6%;
    border-top: 2px solid #dcdcdc;
    border-bottom: 2px solid #dcdcdc;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,.8);
}
.companylogo{
    float: left;
}
.companylogo img{
    width: 42px;
    height: 42px;
    background-size: 100%;
    float: left;
    border-radius: 50%;
}
.companyjob{
    float: left;
    margin: 8px 0 0 12px;
}
.job-name{
    font-size: 1.5rem;
    color: #333333;
}
.job-ctg{
    color: #8e8e93;
    font-size: 1.3rem;
    margin-left: 10px;
}
.company-name{
    color: #8e8e93;
    font-size: 1.1rem;
}
.salary{
    margin-top: 12px;
}
.salary img{
    position: relative;
    top: -1px;
    width: 14px;
    height: 14px;
}
.salary span{
    vertical-align: middle;
    font-size: 1.3rem;
    color: #333;
    margin-left: 2%;
}
.page{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
}
.pageleft {
    width: 40%;
    float: left;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #ccc;
}
.pagecenter {
    width: 20%;
    float: left;
    text-align: center;
    color: #8e8e93;
    font-size: 1.3rem;
}
.pagecenter span {
    font-size: 1.3rem;
}
.pageright {
    width: 40%;
    float: left;
    color: #00aee1;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}
.mask{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(51,51,51,0.6);
}
.nojob_div {
    text-align: center;
    color: #8e8e93
}
.nojob_img {
    width: 14px;
    height: 35px;
    margin: 143px auto 0;
    text-align: center;
    display: block
}
.nojob_p {
    font-size: 1.3rem;
    text-align: center;
    color: #8e8e93
}

.nlsj {
    margin-top: 25px
}

.jqqd {
    text-align: center;
    margin-top: 8px
}
